.container {
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main {
    background: #212931;
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

.content {
    background: #2d333b;
    width: 90%;
    height: 80%;
    border-radius:10px ;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}

.header {
    width: 90%;
    
    display: flex;
    justify-content: space-between;
    
}

.header h1 {
    color: white;
    
}

.header button {
    background: rgb(131, 126, 126);
    width: 60px;;
    color: white;
    border:none;
    border-radius: 10px;
}
.header button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.message {
    width: 95%;
    height: 50px;
    background: rgb(37, 36, 36);
    margin-bottom: 20px;
    margin-left: 20px;;
    border-radius: 10px;
}